**/node_modules/
**/credentials.json
**/properties.json

# sandbox files to ignore
sandbox/*.js
sandbox/*.json

# ignore local UI configs
**/environment.local.ts

# Not keeping the built Angular app
**/dist

**/*.zip
