<ng-wizard (stepChanged)="stepChanged($event)" [config]="config">
    <ng-wizard-step
        [title]="'Login with Twitch'"
        [description]="'Allow us to listen to your chat'"
    >
        <div *ngIf="!isLoading; else loading">
            <a
                *ngIf="!twitchAccessToken; else continue"
                [href]="twitchRedirectPathCode"
                >Login to Twitch</a
            >
            <ng-template #continue>Move on to Spotify login.</ng-template>
        </div>

        <ng-template #loading>Loading...</ng-template>
    </ng-wizard-step>

    <ng-wizard-step
        [title]="'Login with Spotify'"
        [description]="'Allow us to send song to your queu'"
    >
        <div *ngIf="!isLoading; else loading">
            <a
                *ngIf="!spotifyAccessToken; else continue"
                [href]="spotifyRedirectUriCode"
                >Login to Spotify</a
            >
            <ng-template #continue
                >Continue to monitor your current queu</ng-template
            >
        </div>
    </ng-wizard-step>

    <ng-wizard-step
        [title]="'Enjoy'"
        [description]="'Monitor your queu and what songs are currently playing'"
    >
        <span>
            <div *ngIf="playerIsActive; else notActive">
                <h1>You are currently listenting to: {{ currentSong }}</h1>
                <br />
                <h2>on: {{ playingOn }}</h2>
            </div>
            <ng-template #notActive>
                You are currently not listenting to any songs
            </ng-template>
            <button (click)="getUserDevices()" class="btn btn-primary">
                Make Spotify Call
            </button>
        </span>
    </ng-wizard-step>
</ng-wizard>
